name: Create Trello Task on Commit

on:
  push:
    branches: [ "main" ]

jobs:
  create_trello_task:
    runs-on: ubuntu-latest

    steps:
      - name: Create Trello card for this commit
        env:
          TRELLO_KEY: ${{ secrets.TRELLO_KEY }}
          TRELLO_TOKEN: ${{ secrets.TRELLO_TOKEN }}
          TRELLO_LIST_ID: ${{ secrets.TRELLO_LIST_ID }}
          COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
          COMMIT_AUTHOR: ${{ github.event.head_commit.author.name }}
          COMMIT_URL: ${{ github.event.head_commit.url }}

        run: |
          TITLE="New Task: $COMMIT_MESSAGE"
          DESCRIPTION="Commit Author: $COMMIT_AUTHOR%0ACommit URL: $COMMIT_URL%0A%0AFull Message:%0A$COMMIT_MESSAGE"

          curl -X POST "https://api.trello.com/1/cards" \
            -d "key=$TRELLO_KEY" \
            -d "token=$TRELLO_TOKEN" \
            -d "idList=$TRELLO_LIST_ID" \
            -d "name=$TITLE" \
            -d "desc=$DESCRIPTION" \
            -d "pos=top"

