name: Create Trello Card on Commit
on:
push:
branches:
- main
jobs:
create-trello-card:
runs-on: ubuntu-latest
steps:
- name: Create Trello Card
run: |
curl -X POST "https://api.trello.com/1/cards" \
-d "name=New Commit: ${{ github.event.head_commit.message }}" \
-d "desc=Commit by ${{ github.actor }} on repository ${{ github.repository }}" \
-d "idList=${{ secrets.TRELLO_LIST_ID }}" \
-d "key=${{ secrets.e73460dad9317edac5fe4ec8ee77a44c }}" \
-d "token=${{ secrets.ATTA46943b0afe875e3eedacb0efcd364a9910b0fb9d8d09521de1a8d6a6d3322f6d0FDC7743 }}"
